button:hover{
  cursor: pointer;
}
button.slick-disabled:hover{
  cursor: inherit;
}
/* .my-stories  */
.comand-lib_m{
  margin: 100px 0 0;
}
.comand-lib_slid{
  margin: 40px 0 0;
}

.my-review{
  margin: 100px 0 0;
  width: 100%;
  color:#fff;
  background-color: #F63D71;
  overflow: hidden;
}

.my-review__div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.my-review__left{
  width: 60%;
  max-width: 520px;
}
.my-review__title{
  font-family: 'PF Regal Display Pro';
  font-size: 32px;
  line-height: 38px;
}
.my-review__text{
  margin: 30px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.my-review__right{
  width: 40%;
  height: 260px;
  text-align: center;
}
.my-review__img{
  border-radius: 50%;
}

/*Крошки*/
.breadcrumbs__list{
  width: 100%;
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 0 -14px;
  padding: 16px 0 0;
  color: #606060;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.breadcrumbs__link{
	color:#000;
  text-decoration: none;
}
.breadcrumbs__item{
	position:relative;
	display:block;
	padding-left:14px
}
.breadcrumbs__item h1{
	font-size:18px;
	font-weight:400;
	line-height:128%
}
.breadcrumbs__item::after{
	content:"\203A";
	position:absolute;
	font-size:20px;
	right:-11px;
	top:-2px;
	font-weight:100
}
.breadcrumbs__item:last-child::after{
	display:none
}
/* gistori */
.gistori{
  overflow: hidden;
}

.gistori__div{
  margin: 50px 0 0;
}
.gistori__left{
  width: 50%;
  float: left;
}
.gistori__title{
  font-family: 'PF Regal Display Pro';
  font-size: 58px;
  line-height: 70px;
}
.gistori__dat{
  max-width: 560px;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;
}
.gistori__dat-div{

}

.gistori__dat-titl{
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 19px;
}

.gistori__dat-pr{
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  margin: 10px 0;
}
.gistori__dat-pr li{
  margin: 0 5px 0 0;
}
.gistori__dat-ed{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.gistori__button{
  margin: 30px 0 0;
}
.gistori__right{
  position: relative;
  max-width: 50%;
  /* max-width: 100%; */
  max-height: 380px;
  padding-bottom: 28%;
  /* padding-bottom: 56.25%;  */
  height: 0;  
  overflow: hidden;
}
.gistori__right iframe,
.gistori__right object,
.gistori__right embed {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  border-radius: 10px;
}

/* compare*/
.compare{
  height: 460px;
}
.compare *{
  box-sizing: border-box;
}
.compare__div{
  margin: 100px 0 0;
}
.compare__left{
  float: left;
}
.compare__right{
  width: 50%;
  padding: 0 0 0 45px;
  float: left;
}
.compare__title{
  max-width: 360px;
  font-family: 'PF Regal Display Pro';
  font-size: 48px;
  line-height: 58px;
}

.compare__akkord{
  max-width: 560px;
  margin: 20px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 11px 4px;
}



/*До и После*/
.sl-container {
  overflow: hidden;
  position: relative;
  width: 575px;
  height: 460px;
  box-sizing: border-box;
  border-radius: 10px;
}
.sl-container .view {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.sl-container .view img {
  width: 640px;
  max-width: 640px;
}
.sl-container .view-before {
  z-index: 100;
}
.sl-container .view-after {
  width: 100px;
  z-index: 200;
}
.sl-container .dragme {
  position: absolute;
  width: 6px;
  height: 100%;
  top: 0px;
  left: 100px;
  background-color: #F63D71;
  cursor: pointer;
  z-index: 300;
}
.sl-container .dr-circle {
  position: absolute;
  top: calc(50% - 25px);
  left: -2px;
  width: 10px;
  height: 50px;
  text-align: center;
  background-color: #F63D71;
  cursor: pointer;
  z-index: 300;
}
.sl-container .dr-circle__r{
  position: relative;
}
.sl-container .dr-circle__r::after,
.sl-container .dr-circle__r::before{
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../img/sl_r.svg);
  background-repeat: no-repeat;
}
.sl-container .dr-circle__r::before {
  transform: rotate(180deg);
  margin: 19px 0px 4px -22px;
}
.sl-container .dr-circle__r::after {
  margin: -18px 0px 0px 18px;
}

/*Конец До и После*/

/*Аккордион*/
.acor-container{
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.acor-container .acor-body {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  line-height: 18px;
  padding: 0 30px;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif; 
  font-size: 16px;
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  width: 100%;
  color: #F63D71;
  box-sizing: border-box;
  z-index: 100;
  margin: 0 0 5px;
  transition: color .35s;
  font-family: 'PF Regal Display Pro';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.acor-container input{
  display: none;
}
.acor-container label:before {
  content: '';
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  margin: -3px 0 0;
}

.acor-container input:checked + label:before {
  transition: transform .35s;
  transform: rotate(35deg);
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  margin-top: -5px;
  color: #000;
  padding: 8px 0px 8px;
}
.acord__list li{
  position: relative;
  margin: 0 0 15px;
  padding: 0 0 0 28px;
}
.acord__list li::after{
  position: absolute;
  content: '';
  left: 0;
  top: 1px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../img/gal.svg);
  background-repeat: no-repeat;
}
.acord__line{
  margin: 0 20px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #51988F 31.07%, rgba(81, 152, 143, 0) 96.46%);
}
/*Конец Аккордион*/

/* enroll */
.enroll{
  position: relative;
  height: 480px;
  width: 100vw;
  background-image: url(../img/enroll.png);
  background-size: cover;
}
.enroll__form{
  margin: 20px 0 0;
  position: relative;
}
.enroll__div{
  padding: 60px 0 0;
}
.enroll__form input{
  margin: 30px 0 0;
  max-width: 382px;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.enroll__form .link_ns.big{
  width: 300px;
  height: 58px;
  line-height: 40px;
  border-top-left-radius: 7px 19px;
  border-top-right-radius: 7px 19px;
  border-bottom-left-radius: 7px 19px;
  border-bottom-right-radius: 7px 19px;
  margin: 98px 0 0;
}
.enroll__form .link_ns span{
  font-size: 22px;
}
.enroll__form .f_sl.clrfx{
  display: flex;
  flex-direction: column;
}
.enroll__desc{
  position: absolute;
  bottom: 103px;
  left: 35px;
  max-width: 376px;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.enroll__desc::after{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: -38px 0 0 -35px;
  background-image: url(../img/gal_2.svg);
}

/*end enroll */
.bot_start_bg.stories{
  position: absolute;
  width: 100vw;
  height: 2306px;
  z-index: -1;
}








/* ******* medias ******* */
.media__div{
  margin: 120px 0 0;
}
.media__div-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 844px;
  margin: 60px 0 0;
}
.media__div-title .link_ns{
  width: 300px;
  font-weight: 400;
  font-size: 22px;
  line-height: 2.5;
  height: 59px;
}

/* media__slider */
.media__slider{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 30px 0 100px;
}
.media__slider .slick-list{
  margin: 0px -50px;
}
.media-item.slick-center{
  opacity: 1;
  transform: all .3s ease 0s;
}
.media-item.slick-active::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.media-item.slick-center.slick-active::before{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}

.media-item{
  position: relative;
  opacity: 0.2;
  border-radius: 10px;
  overflow: hidden;
}
.media__img img{
  display: block;
  height: 100%;
  margin: 0 auto;
}
.media__slider.slick-slider .slick-prev{  
  background: #F63D71;
}
.media__slider.slick-slider .slick-prev:after,
.media__slider.slick-slider .slick-next:after{
  background: url(../img/strelca.svg) center no-repeat;
  width: 21px;
  height: 21px;
  left: 16px;
  top: 16px;
}
.media__slider.slick-slider .slick-prev:after{
  transform: rotate(180deg);
  left: 12px;
}
.media__slider.slick-slider .slick-prev:before,
.media__slider.slick-slider .slick-next:before{
  border: none;
}
.media__slider .slick-next{
 right: calc(33% - 56px);
}
.media__slider .slick-prev{
  left: calc(33% - 56px);
  z-index: 1;
}

.media__slider .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px 0 0;
}
.media__slider .slick-dots li{
  list-style-type: none;
  margin: 0 15px;
}

.media__slider .slick-dots button{
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #F63D71;
  border-radius: 50%;
}
.media__slider .slick-dots .slick-active button{
  background: #F63D71;
}

.media__slider .slick-arrow{
 position: absolute;
 top: 160px;
}


.media__img{
  height: 360px;
}

.media-video { 
  display: flex;
  min-width: 0;
} 
.media-video iframe{ 
	height: 360px; 
}
/* ******* end medias ******* */

/* cosmetologia */
#cosmetologia{
  background-repeat: repeat-y;
  background-position: 0 10%;
}
#cosmetologia .media__img{
  height: 250px;
}
#cosmetologia .media__img{
  border-radius: 10px;
}
#cosmetologia .media__img img{
  border-radius: 10px;
}
#cosmetologia .media__slider .slick-arrow{
  top: 106px;
}

#cosmetologia .compare {
  height: auto;
}
#cosmetologia .media__slider .slick-prev {
  left: calc(37% - 56px);
}
#cosmetologia .media__slider .slick-next {
  right: calc(37% - 56px);
}
#cosmetologia .slick-track
{
  display: flex;
  min-width: 0;
}
/* #cosmetologia .slick-list{
  margin: 0;
} */
/* 1 блок plastic*/
.plastic__div{
  display: flex;
}
.plastic__left{
  width: 54%;
  margin: 80px 0 0;
}
.plastic__right{
  max-width: 562px;
}
.plastic__right img{
  width: 100%;
}
.plastic__sub{
  margin: 50px 0 0;
  font-size: 18px;
  line-height: 21px;
}
.plastic__button{
  margin: 30px 0 0;
  width: 400px;
  height: 59px;
  font-size: 22px;
  line-height: 55px;
}
/* end 1 блок plastic*/

/* cosmetologia-menu */
.cosmetologia-menu-m{
  margin: 30px 0 0;
}
.cosmetologia-menu__cont{
  border: 1px solid rgba(246, 61, 113, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 11px 32px;
  background-color: #fff;
}
.cosmetologia-menu__div{
  border: 1px solid rgba(246, 61, 113, 0.1);
  border-radius: 10px;
  padding: 28px 10px 23px 28px;
} 
.cosmetologia-menu__div ul{
  column-count: 2;
  column-gap: 4%;
  max-width: 1000px;
  margin: 20px 0 0;
}
.plastic-menu__link{
  position: relative;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 15px 47px;
}
.plastic-menu__link::before{
  content: '';
  display: block;
  width: 27px;
  height: 20px;
  background-image: url(../img/gal_3.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -47px;
}
.plastic-menu__link a{
  text-decoration: none;
  color: #202020;
}
/* end cosmetologia-menu */
 .what__div{
   margin: 63px 0 0;
 }

/* what */
.soderzhanie__title,
.what__title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.what__left{
  width: 50%;
}
.what__right{
  width: 50%;
}
.what__img{
  float: left;
  max-width: 50%;
  margin: 0 40px 20px 0;
}
.what__img img{
  width: 100%;
}
.what__text{
  margin: 10px 0 0;
}
.what__text p{
  margin: 20px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.what__img img{
  border-radius: 20px;
}
/* tnd what */

/* implantation */
.implantation__div{
  display: flex;
  margin: 30px 0 0;
}
.implantation__left{
  width: 50%;
}
.implantation__right{
  width: 50%;
  padding: 0 0 0 37px;
}
.implantation__img{
  max-width: 564px;
  width: 100%;
  max-height: 303px;
  border-radius: 20px;
}
.implantation__left img{
  width: 100%;
  border-radius: 20px;
}
.implantation__punct{
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(246, 61, 113, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 9px 22px 10px 11px;
  margin: 0 0 10px;
}
.implantation__num{
  width: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #F63D71;
}
.implantation__text{
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 0 24px;
}

/* end implantation */

/* prescription */.prescription *{
  box-sizing: border-box;
}
.prescription{
  
  position: relative;
  padding: 70px 0 0;
}
.prescription_m{
  margin: 80px 0 0;
}
.prescription__div{
  display: flex;
  justify-content: flex-end;
}
.prescription__left{
  position: relative;
  padding: 58px 0 0;
  width: 56%;
}
.prescription__img{
  max-width: 615px;
  width: 100%;
}
.prescription__img img{
  width: 100%;
}
.prescription__attention{  
  position: absolute;
  display: flex;
  align-items: center;
  left: 54px;
  bottom: 57px;
  width: 430px;
  padding: 8px 10px 4px 13px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.prescription__attention::before{
  content: '';
  display: inline-block;
  width: 31px;
  height: 67px;
  margin: 0 8px 0 0;
  background-image: url(../img/attention.svg);
  background-repeat: no-repeat;
  background-size: contain;

}
.prescription__right{
  width: 44%;
  max-width: 500px;
}
.prescription__title{
  max-width: 400px;
}
.prescription__fon{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0%;
  width: 100vw;
}
.prescription__fon img{
  width: 100%;
  height: 537px;
}

  /* аккордеон */
.prescription__akkord{
  margin: 30px 0 0;
}
.acor {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  line-height: 18px;
}
.acor__punct{
  margin: 10px 0 0;
  border: 1px solid rgba(246, 61, 113, 0.5);  
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);  
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.acor__body p {
  margin: 0 0 10px;
}

.acor__label {
  cursor: pointer;
  display: block; 
  z-index: 2;
  padding: 22px 15px;
  width: 100%;
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
}
.acor__input:checked+.acor__label{
  cursor: default;
}
.acor__label::before {
  content: '';
  float: right;
  width: 40px;
  height: 22px;
  background-image: url(../img/gal_4.svg);
  background-repeat: no-repeat;
}
.acor__item{
  position: relative;
  margin: 15px 0 0 45px;
  min-height: 30px;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.acor__item::before{
  content: '';
  display: block;
  width: 30px;
  height: 31px;
  background-image: url(../img/gal_5.svg);
  background-repeat: no-repeat;
  top: 2px;
  left: -45px;
  position: absolute;
}
.acor__input {
  display: none;
}
.acor__body {
  margin: 0 auto;
  height: 0;
  padding: 0 30px;
  overflow: hidden;
  transition: padding 0.5s;
  padding: 0px 10px 0px 15px; 
}
.acor__input:checked+label+.acor__body {
  height: auto;
  margin-top: -15px;
  padding: 0px 10px 17px 15px;
}

  /* end аккордеон */
/* end prescription */

/* Срочно нажимать здесь */
.screw__form *{
  box-sizing: border-box;
}
.screw__form{
  margin: 50px 0 0;
  background: #FFFFFF;
  border: 1px solid rgba(246, 61, 113, 0.1);
  border-radius: 10px;
  padding: 10px;
}
.screw__form .inf_forms.smk.vspl_form {
  position: relative;
  margin-top: 0;
  background: #FFFFFF;
  border: 1px solid rgba(246, 61, 113, 0.1);
  border-radius: 10px;
}
.screw__art{
  position: absolute;
  top: -1px;
  right: 0;
  width: 82px;
  height: 62px;
  background-image: url(../img/art.png);
}
.screw__form .vspl_form {
  margin: 0;
}
.scre__inner.inner.clrfx{
  padding: 28px 32px 17px 50px!important;
}
.screw__title{
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.screw__text{
  min-height: 80px;
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 20px;
  color: #202020;  
}
.scre__img {
  top: -15px;
  background: url(../img/form_screw.png) center no-repeat;
  width: 124px;
  height: 177px;
  position: absolute;
  left: 3px;
}
.scre__img:after {
  content: '';
  width: 184px;
  display: block;
  height: 56px;
  position: absolute;
  bottom: -13px;
  left: 50%;
  margin-left: -88px;
  background: url(../img/bot_us_h.png) center no-repeat;
  background-size: contain;
}
.scre__colo{
  position: absolute;
  top: 20px;
  width: 140px;
  height: 140px;
  display: block;
  background: #fff;
  border-radius: 50%;
  /* margin: 28px 0 0 18px; */
  /* margin-bottom: 10px;   */
  background: #FFFFFF;
  border: 1px solid rgba(246, 61, 113, 0.1);
}
.scre__ico{
  position: relative;
  max-width: 184px;  
}
.screw__form .vspl_form .sender input[type=text]{
  font-weight: 400;
  font-size: 16px;
}
.screw__form .inf_forms.vspl_form .right{
  width: 820px;
}
.screw__form .inf_forms.vspl_form .sender input {
  width: 260px;
}
.inf_forms.vspl_form .sender button{
  width: 309px;
}
.screw__form .link_ns span{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
/* end Срочно нажимать здесь */

/* Контактные данные */
.contactes *{
  box-sizing: border-box;
}
.contactes a{
  text-decoration: none;
  color: #202020;
}
.contactes__div{
  display: flex;
  min-height: 388px;
  margin: 100px 0 0;
  padding: 0 0 80px;
}
.contactes__left{
  position: relative;
  width: 45%;
  padding: 0 0 65px;
}
.contactes__right{
  width: 55%;
}
.contactes__content{  
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 0;

}
.contactes__dan{
  width: 48%;
  justify-content: space-between;
  margin: 0px 2% 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;  
}
.contactes__email{
  font-weight: 400;
  line-height: 21px;
}
.contactes__email p{
  margin: 5px 0 0;
}
.contactes__email .contactes__title{
  margin: 0 0 5px;
}
.contactes__tel{
  margin: 33px 0 0;
}
.contactes__social{
  margin: 14px 0 0;
}
.contactes__icon{
  display: flex;
  flex-wrap: wrap;
}
.contactes__icon a{
  display: block;
  width: 34px;
  height: 24px;
  margin: 0px 15px 10px 0;
}
.contactes__title{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #F63D71;
  margin: 0 0 10px;
}
.contactes__button{
  position: absolute;
  bottom: 0px;
  width: 255px;
  height: 59px;
  font-size: 22px;
  line-height: 55px;  
}
a.contactes__button {
  color: #fff;
}



/* end Контактные данные */

/* Дополнительные разделы */
.pricelist *,
.kind,
.recall *,
.more *{
  box-sizing: border-box;
}
.more__slider{
  margin: 30px 0 0;
}
.more__title{
  font-size: 32px;
  line-height: 38px;
}
.more__slider .slick-list {
  margin: 0px -120px;
}
.more__slid{
  margin: 0 auto;
  max-width: 250px;
  min-height: 322px;
  padding: 0 0 61px;
}
#cosmetologia .more__slider .slick-arrow{
  position: absolute;
  z-index: 2;
  top: 83px;
  width: 59px;
  height: 59px;
}
#cosmetologia .more__slider .slick-arrow::before{
  border: 0;
}
#cosmetologia .more__slider .slick-arrow::after{
  background: url(../img/strelca.svg) center no-repeat;
  width: 26px;
  height: 30px;
  background-size:cover;
  left: 20px;
  top: 14px;
  margin: 0; 
}

#cosmetologia .more__slider .slick-prev{
  left: calc(34% - 59px);
  transform: rotate(180deg); 
}
#cosmetologia .more__slider .slick-next {
  right: calc(34% - 59px);
}

.more__div{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 21px 32px 19px;
  margin: 100px 0 0;
}
.more__content{
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 18px 33px 28px;
  overflow: hidden;
}

.more__img img{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.more__slid p{
  margin: 10px 0 0;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}
.more__button{
  position: absolute;
  bottom: 0;
  margin: 20px 0 0;
  width: 250px;
  height: 59px;
  font-weight: 400;
  font-size: 22px;
  line-height: 55px;
}
/* end Дополнительные разделы */

/* Отзывы о клинике */
.recall__div{
  margin: 100px 0 0;
}
.recall__slider{
  margin: 50px 0 0; 
}
.recall__slider .slick-list{
  background: #FBFBFC;
  border: 1px solid rgba(246, 61, 113, 0.3);
  border-radius: 10px;
}
.recall__slider.slick-initialized .slick-slide.slider__item{
  display: flex;
  position: relative;
  min-width: 0;
  padding: 10px 33px 10px 60px ;
  height: 350px;
}
.recall__slider .slick-arrow{
  top: -96px;
  right: 0px;
  position: absolute;
  width: 288px;
  height: 59px;
  border-top-left-radius: 0;
  border-top-right-radius: 7px 26px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 7px 26px;
  text-indent: inherit;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  box-shadow: none;
  padding: 0 56px 0 0;
  font-weight: 400;
}
.recall__slider .slick-arrow:hover{
  cursor: pointer;
}
.recall__slider .slick-arrow::before{
  border-top-left-radius: 0;
  border-top-right-radius: 7px 26px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 7px 26px;
  border: 1px solid rgba(255, 255, 255, 0.6); 
}
.recall__slider .slick-arrow::after{
  width: 56px;
  height: 24px;
  margin-top: -12px;
  margin-left: -134px;
}
.recall__slider .slick-prev{
  right: 360px;
}
.recall__prev.recall__prev{
  border-top-left-radius: 7px 26px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 7px 26px;
  border-bottom-right-radius: 0;
  background: #fff;
  border: 1px solid #F63D71;
  color: #F63D71;
  padding: 0 0 0 56px;
}
.recall__prev.recall__prev::before{
  border-top-left-radius: 7px 26px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 7px 26px;
  border-bottom-right-radius: 0;  
}
.recall__prev.recall__prev::after{
  background: url(../img/recall__prev.svg) center no-repeat;
}
.recall__next.recall__next::after{
  background: url(../img/recall__next.svg) center no-repeat;
  margin-left: 78px;
}
.recall__text{
  font-size: 22px;
  line-height: 26px;  
  overflow: hidden;
  max-height: 288px;
}
.recall__left{
  padding: 22px 0 0px;  
  max-width: 734px;
}
.recall__right{
  position: relative;
  max-width: 340px;
  width: 100%;
  min-width: 250px;
  background-image: url(../img/otziv_fon.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.recall__img img{
  display: block;
  margin: 0 auto;
  max-width: 250px;
  max-height: 330px; 
}
.recall__button{
  position: absolute;
  bottom: 0;
  left: calc( 50% - 125px);
  width: 250px;
  height: 59px;
  font-weight: 400;
  font-size: 22px;
  line-height: 55px;
}
/* end Отзывы о клинике */

/* Результаты контурной пластики */
.results__div{
  margin: 100px 0 0;
}
.results__slider{
  margin: 30px 0 0;
}
.view.results__view img,
.results__container{
  width: 360px;
  height: 538px;
  border-radius: 10px 10px 0 0;
}
.results__slider .slick-list {
  padding: 0!important;
}
.results__text{
  display: flex;
  width: 100%;
  max-width: 360px;
  height: 60px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  background: #F63D71;
  align-items: center;
  justify-content: center;
}
.results__slider .slick-arrow{
  position: absolute;
  top: 250px;
  z-index: 2;
  background: #F63D71;
}
.results__slider .slick-arrow::before{
  border: none;
}
.results__slider .slick-arrow::after{
  background: url(../img/strelca.svg) center no-repeat;
  width: 21px;
  height: 21px;
  left: 16px;
  top: 16px;
}
.results__slider .slick-arrow.slick-prev:after {
  transform: rotate(180deg);
  left: 12px;
}
.results__slider .slick-next{
  right: -40px;
}
.results__slider .slick-prev{
  left: -40px;
}
.results__item.slick-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results__slider .slick-dots li {
  list-style-type: none;
  margin: 0 15px;
}
.results__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px 0 0;
}
.results__slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #F63D71;
  border-radius: 50%;
}
.results__slider .slick-dots .slick-active button {
  background: #F63D71;
}
.results__slider .sl-container .dr-circle{
  width: 50px;
  border-radius: 50%;
  left: -23px;
}
.results__slider .sl-container .dr-circle__r::after {
  margin: -17px 0px 0px 34px;
}
.sl-container .dr-circle__r::before {
  margin: 17px 0px 4px 2px;
}
.results__slider .sl-container .dragme{
  background-color: #fff;
  width: 3px;
}
.results__slider .sl-container .dr-circle__r::after, 
.results__slider .sl-container .dr-circle__r::before {
    width: 14px;
    height: 14px;
    background-image: url(../img/results.svg);
}
.results__view p{
  position: absolute;
  right: 26px;
  bottom: 46px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #FFF;
}
.results__view.view-after p{
  left: 27px;
}
/* end Результаты контурной пластики */
/* Врачи проводившие лечение */
.smk .block_bot_line .ins_bot_line{
  box-shadow: none;
  border: 1px solid #ccc5;
}
.list_all_vr.slider_vr .slick-list:after,
.list_all_vr.slider_vr .slick-list:before {
  background: none;
}
/* end Врачи проводившие лечение */

/* Разновидности контурной пластики */

.kind{
  background-image: url(../img/kind.png);
  background-size: contain;
  background-repeat: repeat-x;
}
.kind__titl{
  max-width: 570px;
  margin: 100px auto 0;
  text-align: center;
}
.kind__div{
  padding: 30px 10px 100px;
}
.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 612px;
  margin: 0 auto;
  padding: 37px;
  border: 3px solid rgba(246, 61, 113, 0.3);
  
  border-radius: 50%;
}
.circle .circle{
  border: 5px solid rgba(246, 61, 113, 0.3);
  padding: 33px;
}
.kind__div>.circle{
  position: relative;
}
.sputnik{
  position: absolute;
  display: flex;
  align-items: center;  
  width: 10px;
  height: 10px;
  border: 7px solid #51988F;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-15px, -15px);
}

.sputnik p{
  display: flex;
  opacity: 0;
  margin: 0 0 0 40px;
  min-width: 379px;
  background: #FFFFFF;
  border: 1px solid rgba(246, 61, 113, 0.3);
  border-radius: 10px;
  padding: 10px;
  /* animation: opacity 5s ease-out .7s infinite; */
  animation-name: opacity;
  /* animation-duration: 8s; */
  animation-timing-function: ease-out;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;  
}
.sputnik_right p::before, 
.sputnik_right p::after {
  content: '';
  position: absolute;
  left: 7px;
  bottom: -4px;
  border: 10px solid transparent;
  border-right: 23px solid rgba(246, 61, 113, 0.3);
 }
 .sputnik_right p::after {
  border-right: 22px solid white;
  left: 9px;
 }
 .sputnik_left p{
  transform: translateX(-430px);
  margin: 0;
 }
 .sputnik_left p::before, 
 .sputnik_left p::after {
  content: '';
  position: absolute;
  left: inherit;
  right: -33px;
  bottom: 34px;
  border: 10px solid transparent;
  border-left: 23px solid rgba(246, 61, 113, 0.3);
 }
 .sputnik_left p::after {
  border-left: 22px solid white;
  left: inherit;
  right: -31px;
 }
 .sputnik:hover{
  z-index: 9;
  cursor: pointer;
 }
 .sputnik:hover p{
  opacity: 1;
  animation: none;  
 }
 /* end Разновидности контурной пластики */


 /* Перечень услуг и стоимость */
 .pricelist__div{
  position: relative;
  font-weight: 400;
  padding: 50px 0;
  margin: 50px 0 0;
 }
 .pricelist__img{
  position: absolute;
  top: 0;
  right: 0;
 }
 .pricelist__div-title{
  display: flex;
  max-width: 645px;
  justify-content: space-between;  
  align-items: center
 }
 .pricelist__title{
  max-width: 363px;
 }
.pricelist__button{
  overflow: hidden;
  width: 255px;
  height: 59px;
  font-size: 22px;
  line-height: 55px;
}
.pricelist__tabs{
  position: relative;
  margin: 30px 0 0;
  min-height: 305px ;
  font-weight: 400;
}
.pricelist__tab-titles{
  max-width: 760px;
  position: absolute;
  top: 0;
  display: flex;
  border: 1px solid #F63D71;
  border-radius: 0 20px 0 20px;
}
.pricelist__tabs input[type="radio"] {
  display: none;
}
.pricelist__tab-title {
  display: block;
  background: #fff;
  padding: 13px 15px;
  font-size: 22px;
  line-height: 26px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pricelist__tab-title:hover{
  cursor: pointer;
}
.pricelist__tab-title:first-child{
  border-radius: 0 0 0 20px;
}
.pricelist__tab-title:last-child{
  border-radius: 0 20px 0 0;
}
label.pricelist__tab-title + label{
  border-left: 1px solid #F63D71;
}
.pricelist__tab-content {
  display: none;
  justify-content: space-between;
  padding-top: 82px;
}

.pricelist__tabs input:checked+.pricelist__tab-content {
  display: flex;
}

.pricelist__column{
  background: #FBFBFC;
  border: 1px solid rgba(246, 61, 113, 0.5);
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
  padding: 13px 0 0;
  width: 100%;
  max-width: 560px;
}
.pricelist__line{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 52px;
  padding: 0 30px;
}
.pricelist__line:nth-child(2n){
  background-color: #F63D71;
  color: #fff;
}
.pricelist__line-right{
  font-weight: 500;
  width: 100%;
  max-width: 100px;
}
.pricelist_1 .pricelist__img{
  top: 24px;
  right: 25px;
}
 /* end Перечень услуг и стоимость */

/* временные */
#cosmetologia .wrap{
  overflow: hidden;
}
header,
footer{
  /* display: none; */
  overflow: hidden;
}
#cosmetologia .results .wrap,
#cosmetologia .cosmetologia-menu .wrap,
#cosmetologia .plastic .wrap,
#cosmetologia .prescription .wrap{
  overflow:inherit;
}
/* end временные  */
/* end cosmetologia */








/* ******* media ******* */

/* Разновидности контурной пластики */
/* @media (max-width: 1580px) {
  .sputnik p{
    min-width: 24vw;
  }
} */
/* end Разновидности контурной пластики */


#cosmetologia img{
  height: auto;
}

@media (max-width: 1180px){
  .bot_start_bg{
    overflow: inherit;
  }
  h1.titles {
    font-size: 40px;
    line-height: 1.3;
  }
  h2.titles {
    font-size: 32px;
    line-height: 1.3;
  }
  h3.titles{
    font-size: 28px;
    line-height: 1.3;
  }
  /* 1 бок */

  .plastic__left {
    min-width: 55%;
    margin: 54px 0 0;
  }
  .plastic__sub {
    margin: 40px 0 0;
    font-size: 16px;
    line-height: 22px;
  }
  .plastic__button {
    font-size: 20px;
  }  
  /* end 1 блок */
  /* Как проходит имплантация? */
  .implantation__left {
    min-width: 40%;
  }
  .implantation__img {
    max-width: inherit;
    width: auto;
    max-height: inherit;
    border-radius: 20px;
    opacity: inherit;
    overflow: hidden;
  }
  .implantation__left img {
    width: auto;
  }
  .implantation__right {
    width: auto;
  }
  /* end Как проходит имплантация? */
  /* Рекомендации до и после пластики */
  .prescription__left {
    width: 50%;
  }
  .prescription__right {
    width: auto;
    padding: 0 0 0 20px;
  }
  .prescription__attention{
    left: 5%;
    width: 94%;
  }
  /* end Рекомендации до и после пластики */
  /* Результаты контурной пластики */
  .results__slider {
    margin: 30px auto 0;
    max-width: 762px;
  }
  .results__title{
    text-align: center;
  }
  /* end Результаты контурной пластики */
  .media__div-title{
    max-width: 675px;
  }
  /* Перечень услуг и стоимость */
  .pricelist__div-title{
    max-width: 470px;
  }
  .pricelist__column{
    max-width: 475px;
  }
  /* end Перечень услуг и стоимость */
  /* Срочно нажимать здесь */
  .screw__form .inf_forms.vspl_form .right {
    width: 674px;
  }
  .screw__form .inf_forms.vspl_form .sender input {
    width: 220px;
  }
  .screw__form .inf_forms.vspl_form .sender button {
    width: 253px;
  }
  .screw__form .link_ns span {
    font-size: 19px;
  }
  /* end Срочно нажимать здесь */
  /* Дополнительные разделы */
  .more__div{
    padding: 8px 12px;
  }
  .more__content{
    padding: 18px 34px 28px;
  }
  /* end Дополнительные разделы */
}

@media (max-width: 970px){
  h2.titles {
    font-size: 32px;
    line-height: 1.3;
  }
  h3.titles{
    font-size: 24px;
    line-height: 1.3;
  }
  /* 1 бок */
  .titles {
    font-size: 32px;
    line-height: 40px;
  }
  .plastic__left {
    margin: 32px 0 0;
  }
  .plastic__sub {
    margin: 25px 0 0;
    font-size: 15px;
    line-height: 20px;
  }
  .plastic__button {
    font-size: 18px;
  }
  .plastic__button {
    width: 344px;
  }
  /* end 1 блок */
  .what__img {
    margin: 10px 40px 20px 0;
  }
    /* Рекомендации до и после пластики */
  .prescription__left{
    width: inherit;
  }
  .prescription__attention{
    bottom: inherit;
    font-size: 14px;
    top: 285px;
  }
  .acor__label {
    font-size: 18px;
  }
  .acor__item{
    font-size: 15px;
    margin: 15px 0 0 37px;
  }
  .prescription__right{
    min-width: 380px;
  }
  .acor__label::before{
    background-size: contain;
    width: 30px;
  }
  .acor__item::before{
    background-size: contain;
    width: 27px;
    left: -40px;
  }
  /* end Рекомендации до и после пластики */
  /* Результаты контурной пластики */
  .results__slider {
    max-width: 380px;
  }
  /* end Результаты контурной пластики */
  /* Выполненные работы */
  #cosmetologia .media__slider .slick-next {
    right: calc(26% - 56px);
  }
  #cosmetologia .media__slider .slick-prev {
    left: calc(26% - 56px);
  }
  /* end Выполненные работы */
  /* Перечень услуг и стоимость */
  .pricelist__div-title{
    max-width: 470px;
  }
  .pricelist .pricelist__img{
    width: 34%;
  }
  .pricelist_1 .pricelist__img {
    right: 5px;
    border-radius: 0 0 108px 0;
    overflow: hidden;
  }
  .pricelist__tab-titles{
    max-width: 720px;    
  }
  .pricelist__tab-titles{
    max-width: 760px;
  }
  .pricelist__tab-title{
    font-size: 18px;
  }
  .pricelist__tabs input:checked+.pricelist__tab-content{
    flex-direction: column;
  }
  .pricelist__column{
    max-width: 630px;
  }
  .pricelist__right{
    border-radius: 0;
    padding: 0;
    margin: -1px 0 0;
  }
  /* end Перечень услуг и стоимость */
  /* Срочно нажимать здесь */
  .screw__form .inf_forms.vspl_form .right {
    width: 634px;
  }
  .screw__form .inf_forms.vspl_form .sender input {
    width: 199px;
  }
  .screw__form .inf_forms.vspl_form .left {
    display: block;
  }
  .screw__form  .scre__ico {
    margin-left: 411px;
  }
  .screw__form  .scre__img {
    top: -8px;
    left: 8px;
  }
  /* end Срочно нажимать здесь */
  /* Отзывы о клинике */
  .recall__slider .slick-arrow{
    width:190px;
    font-size: 19px;
    text-align: left;
  }
  .recall__prev.recall__prev{
    padding: 0 0 0 80px;
  }
  .recall__slider .slick-arrow::after{
    margin-left: -87px;
    background-size: contain;
    width: 48px;
  }
  .recall__next.recall__next::after {
    margin-left: 37px;
  }
  .slick-slider .slick-arrow.slick-next{
    padding: 0 15px 0 15px;
  }
  .recall__slider .slick-prev {
    right: 198px;
    text-align: right;
    padding: 0 10px 0 40px;
  }
  .recall__slider.slick-initialized .slick-slide.slider__item{
    padding: 10px 33px 10px 42px;
  }
  
  .recall__right{
    position: absolute;
    right: -22px;
  }
  .recall__text {
    padding-right: 250px;
    font-size: 20px;
    line-height: 1.3;
  }
  /* end Отзывы о клинике */
  /* Дополнительные разделы */
  .more__content {
    padding: 18px 95px 28px;
  }
  #cosmetologia .more__slider .slick-next {
    right: calc(-7% - 59px);
  }
  #cosmetologia .more__slider .slick-prev {
    left: calc(-7% - 59px);
  }  
  /* end Дополнительные разделы */
  /* Контактные данные */
  .contactes__right {
    width: 45%;
  }
  .contactes__left{
    width: 55%;
  }
  .contactes__content {
    margin: 24px 0 0;
  }
  /* end Контактные данные */
}

@media (max-width: 730px){
  h1.titles {
    font-size: 26px;
    line-height: 1.3;
  }
  h2.titles {
    font-size: 24px;
  }
  h3.titles{
    font-size: 20px;
  }
  /* 1 бок */
  .plastic__left {
    min-width: 60%;
    margin: 12px 0 0;
  }
  .plastic__div{
    position: relative;
  }
  .plastic__right {
    position: absolute;
    top: 27px;
    right: -17px;
    width: 35%;
  }
  .plastic__left {
    min-width: 100%;
  }
  .plastic__sub {
    width: 260px;
    margin: 18px 0 0 auto;
    font-size: 15px;
    line-height: 1.2;
  }
  .plastic__button {
    display: block;
    width: 260px;
    margin: 20px auto 0;
    font-size: 17px;
    height: 50px;
    line-height: 1;
  }
  /* end 1 блок */
  /* содержание страницы */
  .cosmetologia-menu__cont {
    width: 106%;
    margin: 0 calc(-3px - 3%);
    padding: 3px 6px;
  }
  .cosmetologia-menu__div {
    border: 1px solid rgba(246, 61, 113, 0.1);
    border-radius: 10px;
    padding: 16px 4px 10px;
  }
  .cosmetologia-menu__div ul {
    column-count: 1;
  }
  .soderzhanie__title{
    text-align: center;
    font-size: 22px;
  }
  .plastic-menu__link::before {
    width: 23px;
    height: 20px;
    left: -37px;
    background-size: contain;
  }
  .plastic-menu__link a {
    font-size: 15px;
  }
   /* end содержание страницы */
   /* Что такое контурная пластика? */
   .what__img {
    margin: 0 0 10px;
    max-width: 100%;
  }
  .what__div {
    margin: 40px 0 0;
  }
   /* end Что такое контурная пластика? */
  /* Как проходит имплантация? */
  .implantation__div{
    flex-wrap: wrap;
    margin: 20px 0 0;
  }
  h2.implantation__title{
    font-size: 22px;
    text-align:center; 
    }
  .implantation__left{
    min-width: 100%;
  }
  .implantation__right{
    padding: 6px 0 0;
  }
  #cosmetologia .implantation__img img{
    height: 167px;
  }
  .implantation__num{
    font-size: 28px;
  }
  .implantation__text{
    padding: 0 0 0 8px;
  }
  .implantation__punct{
    padding: 8px 22px 10px 8px;
  }
  /* end Как проходит имплантация? */
  /* Рекомендации до и после пластики */
  .prescription__div{
    flex-direction: column;
    position: relative;
  }
  .prescription__right,
  .prescription__left{
    padding: 0;
  }
  .prescription__title{
    position: absolute;
    top: -75px;
  }
  .prescription__attention {
    top: 212px;
    width: auto;
    left: 0;
  }
  .prescription__right {
    min-width: auto;
  }
  .prescription__akkord {
    margin: 80px 0 0;
  }
  /* end Рекомендации до и после пластики */
  /* Результаты контурной пластики */
  .view.results__view img, .results__container {
    width: 236px;
    height: 363px;
    border-radius: 10px 10px 0 0;
  }
  .results__text {
    width: 236px;
    height: 46px;
    font-size: 16px;
  }
  .results__view p{
    bottom: 20px;
    font-size: 18px;
  }
  .results__slider .slick-arrow{
    top: 164px;
  }
  .results__slider {
    max-width: 240px;
  }
  .results__slider .slick-dots li {
    margin: 0 10px;
  }
  .results__slider .slick-dots{
    margin: 18px 0 0;
  }
  /* end Результаты контурной пластики */
  /* Выполненные работы */
  .media__slider{
    margin: 30px 0 10px;
  }
  #cosmetologia .media__slider .slick-next {
    right: calc(19% - 56px);
  }
  #cosmetologia .media__slider .slick-prev {
    left: calc(19% - 56px);
  }
  .media__div-title{
    flex-direction: column-reverse;
  }
  #cosmetologia .media__img {
    height: 200px;
  }
  #cosmetologia .media__img img {
    border-radius: 10px;
    width: 100%;
  }
  #cosmetologia .media__slider .slick-arrow {
    top: 180px;
  }
  .media__slider .slick-dots li {
    list-style-type: none;
    margin: 0 10px;
  }
  .media__div{
    margin: 0;
  }
  .media__div-title .link_ns {
    width: 230px;
    font-size: 19px;
    height: 49px;
    margin: 0 0 30px;
  }
  /* end Выполненные работы */
  /* Врачи проводившие  */
  .doctors__comand-lib {
    margin: 40px 0 0;
  }
  .doctors__titles{
    text-align: center;
  }
  .pricelist__title{
    padding: 20px 0 0;
  }
  .list_all_vr.slider_vr .item {
    margin: 20px auto 80px !important;
  }
  .doctors .item.slick-slide {
    width: 260px !important;
  }
  /* end Врачи проводившие  */
  /* Перечень услуг и стоимость */
  .pricelist__div-title {
    flex-direction: column-reverse;
  }
  .pricelist__button{
    margin: -97px 0 40px;
    width: 230px;
    height: 49px;
    font-size: 19px;
    line-height: 1;
  }
  .pricelist__tab-titles {
    flex-wrap: wrap;
    width: 100%;
  }
  .pricelist__tab-title {
    width: 100%;
    font-size: 16px;
    padding: 7px 15px;
  }
  .pricelist__tab-title:first-child{
    border-radius: 0 18px 0 0;
  }
  .pricelist__tab-title:last-child {
    border-radius: 0 0 0 18px;
  }
  label.pricelist__tab-title + label {
    border-left: 0;
    border-top: 1px solid #F63D71;
  }

  .pricelist__column{
    margin: 0;
    font-size: 16px;
  }
  .pricelist__line{
    padding: 8px 15px;
  }
  .pricelist__line-right{
    max-width: 85px;
    text-align: right;
  }
  /* end Перечень услуг и стоимость */
  /* Срочно нажимать здесь */
  .screw .screw__form {
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .screw__form .inf_forms.vspl_form .right {
    width: 267px;
    margin: 0 0 20px;
  }
  .screw__form .scre__inner.inner.clrfx{
    padding: 0px!important;
    max-width: 300px;
  }
  .screw__form .inf_forms.vspl_form .left {
    display: none;
  }
  .screw .screw__title{
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    padding: 15px 0 0 10px;
  }
  .screw .screw__art{
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
  }
  .screw .screw__text {
    text-align: left;
    padding: 0 0 0 10px;
  }
  .screw__form .inf_forms.vspl_form .sender button,
  .screw__form .inf_forms.vspl_form .sender input {
    width: 97%;
    float: inherit;
  }
  .scre .link_ns.big {
    line-height: 1;
  }
  /* end Срочно нажимать здесь */
  /* Отзывы о клинике */
  .recall__div {
    margin: 50px 0 0;
  }
  .recall__slider {
    margin: 90px 0 0;
  }
  .recall__title{
    text-align: center;
  }
  .recall__slider .slick-arrow {
    width: 132px;
    top: -65px;
    font-size: 14px;
    height: 50px;
  }
  .recall__slider .slick-prev{
    right: 165px;
  }
  .recall__slider .slick-arrow::after{
    margin-top: -7px;
  }
  .recall__prev.recall__prev::after{
    margin-left: -56px;
  }
  .recall__next.recall__next::after{
    margin-left: 7px;
  }
  .recall__slider .slick-arrow.slick-next {
    padding: 0px 56px 2px 15px;
  }
  .recall__slider .slick-prev{
    padding: 0 10px 2px 34px;
  }
  .recall__slider.slick-initialized .slick-slide.slider__item {
    padding: 10px 15px 92px;
  }
  .recall__right {
    position: absolute;
    right: -2px;
  }
  .recall__left {
    padding: 0;
    max-width: 280px;
    overflow: hidden;

  }
  .recall__text {
    padding-right: 0;
    font-size: 16px;
    line-height: 1.2;
  }
  .recall__img{
    position: absolute;
    z-index: 2;
    top: 257px;
    right: 7px;
    overflow: hidden;
  }
  .recall__img img {
    margin: 0px 0px -55px 0px;
    max-width: 107px;
    max-height: inherit;
  }
  .recall__button{
    position: absolute;
    bottom: -325px;
    text-align: left;
    padding: 0 0 0 30px;
  }
  /* end Отзывы о клинике */
  /* Дополнительные разделы */
  .more__div {
    padding: 8px 12px;
    margin: 50px 0 0;
  }
  .more__title{
    text-align: center;
  }
  .more__content {
    padding: 18px 47px 28px;
    overflow: inherit;
  }
  #cosmetologia .more__slider .slick-arrow {
    top: 156px;
    width: 40px;
    height: 40px;
  }
  #cosmetologia .more__slider .slick-arrow::after {
    width: 18px;
    height: 31px;
    left: 14px;
    top: 4px;
    background-size: contain;
  }
  #cosmetologia .more__slider .slick-prev {
    left: -59px;
  }
  #cosmetologia .more__slider .slick-next {
    right: -59px;
  }
  /* end Дополнительные разделы */
  /* Контактные данные */
  h2.contactes__titles{
    text-align: center;
    color: #202020;
    font-size: 26px;
  }
  .contactes__div{
    flex-wrap: wrap;
  }
  .contactes__left{
    width: 100%;
    padding: 0;
  }
  .contactes__right{
    width: 100%;
    margin: 40px 0 0;
  }
  .contactes__button{
    position: relative;
    margin: 30px 0 0;
  }
  .contactes__dan{
    width: 100%;
  }
  .contactes__address{
    margin: 33px 0 0;
  }
  .contactes__social {
    margin: 33px 0 0;
  }
  /* end Контактные данные */
}



/*До и После*/
/* @media screen and (max-width: 600px) {
  .sl-container {
    width: 320px;
    height: 210px;
  }
  .sl-container .view img {
    width: 320px;
    max-width: 320px;
  }
}     */
  /*Конец До и После*/